body,
html {
    height: 100%;
}

body {
    font-weight: 200;
    font-size: 1.5rem;
    color: #444;
}

.intro-left {
    position: fixed;
    left: 0;
    width: 33%;
    height: 100%;
}

@media (max-width: 760px) {
    .intro-left {
        height: 30vh;
        margin-bottom: 0;
        position: relative;
        width: 100%;

    }
}

@media (max-width: 760px) {
    img.logo-position {
        width: 85%;
        height: 100%;
    }
}

.headshot {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem;
}

.full-height {
    height: 100%;
}

.quote {
    float: right;
}

section {
    margin: 5rem;
    font-size: 1.2rem;
}

.project-image {
    border: .5px solid #444;

}

a {
    color: #444;
    text-decoration: none;
}

.background {
    background-color: #eee;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    clip-path: polygon(36% 0, 95% 0, 65% 100%, 18% 100%);
}

.icons {
    font-size: 2.5rem;
    align-items: center;
}

.contact-info {
    display: inline-block;
    padding: 25px;
    align-items: center;
}

#skills {
    align-items: center;
}

.skill-info {
    display: inline-block;
    padding: 25px;
}

.skill-img {
    height: 100px;
}

.skill-title {
    text-align: center;
}

